<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd">


<mvc:annotation-driven />
<context:component-scan base-package="com.nagarro.javatraining.assignment10.controller" />

<mvc:interceptors>
	<mvc:interceptor>
		<mvc:mapping path="/*"/>
		<mvc:exclude-mapping path="/login"/>
		<mvc:exclude-mapping path="/register"/>
		<bean class="com.nagarro.javatraining.assignment10.interceptor.LoginCheckerInterceptor"></bean>
	</mvc:interceptor>
	
	<mvc:interceptor>
		<mvc:mapping path="/login"/>
		<mvc:mapping path="/register"/>
		<bean class="com.nagarro.javatraining.assignment10.interceptor.LogOutCheckerInterceptor"></bean>
	</mvc:interceptor>
</mvc:interceptors>

<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
	<property name="prefix">
		<value>/WEB-INF/JspResources/</value>
	</property>
	<property name="suffix">
		<value>.jsp</value>
	</property>
</bean>

<bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
	<property name="basename" value="WEB-INF/errormessages" />  
</bean>

</beans>
